@charset "UTF-8";

@font-face {
  font-family: "fus";
  src:url("../fonts/fus.eot");
  src:url("../fonts/fus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fus.woff") format("woff"),
    url("../fonts/fus.ttf") format("truetype"),
    url("../fonts/fus.svg#fus") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fus" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flickr:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-youtube-play:before {
  content: "\64";
}
.icon-book:before {
  content: "\66";
}
.icon-bookmark:before {
  content: "\67";
}
.icon-star:before {
  content: "\65";
}
.icon-pencil:before {
  content: "\68";
}
.icon-user:before {
  content: "\69";
}
.icon-graduation-cap:before {
  content: "\6a";
}
.icon-university:before {
  content: "\6b";
}
.icon-instagram:before {
  content: "\6c";
}
.icon-picture-o:before {
  content: "\6d";
}
.icon-camera:before {
  content: "\6e";
}
.icon-times:before {
  content: "\6f";
}
.icon-navicon:before {
  content: "\70";
}
.icon-android-more-vertical:before {
  content: "\71";
}
.icon-social-snapchat:before {
  content: "\72";
}
.icon-chevron-left:before {
  content: "\73";
}
.icon-chevron-right:before {
  content: "\74";
}
.icon-chevron-down:before {
  content: "\75";
}
