.fus-yellow {
  background-color: #ffc658; }

.fus-light-blue {
  background-color: #8e9fbc; }

.fus-dark-blue {
  background-color: #1f2a44; }

.fus-green {
  background-color: #21412a; }

.fus-gold {
  background-color: #998643; }

.center-logo {
  margin-top: -53px; }
  .center-logo img {
    width: 280px;
    display: block;
    margin: 0 auto;
    z-index: 2; }

.nav-cta {
  background-color: #1f2a44; }
  .nav-cta:hover {
    background-color: #2f4067; }

.block-center {
  display: block;
  margin: 0 auto; }

img.responsive-img {
  margin: 0 auto; }

.list-styled {
  padding: 16px; }
  .list-styled li {
    list-style-type: square;
    margin-bottom: 8px; }

.li-divider {
  border-top: 1px solid;
  width: 28px;
  margin: 0 auto;
  height: 16px; }

@media screen and (max-width: 600px) {
  .valign-wrapper {
    flex-direction: column; }
    .valign-wrapper .col {
      margin-bottom: 16px; } }

@media screen and (max-width: 600px) {
  .valign-wrapper.banner {
    flex-direction: row; } }

.container {
  max-width: 2000px; }
  @media only screen and (min-width: 993px) {
    .container {
      width: 85%; } }

@media screen and (max-width: 600px) {
  .order-1 {
    order: 1; } }

@media screen and (max-width: 600px) {
  .order-2 {
    order: 2; } }

.input-field label {
  left: 0; }

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  flex: 1 0 auto;
  min-height: 100vh; }

header {
  height: 122px;
  margin-bottom: -48px; }

nav {
  height: 64px;
  box-shadow: none; }
  nav .brand-logo img {
    height: 64px;
    margin: 16px; }
  nav .button-collapse i {
    color: rgba(0, 0, 0, 0.87); }
  nav .page-title {
    line-height: 64px;
    font-size: 40px;
    font-weight: 300;
    margin-left: 25px; }
  nav .button-collapse {
    margin-left: 16px; }
  nav .grid-btn, nav .list-btn {
    cursor: pointer;
    margin-right: 8px; }
    @media screen and (max-width: 600px) {
      nav .grid-btn, nav .list-btn {
        display: none !important; } }
  nav .more-btn {
    cursor: pointer;
    margin-right: 8px; }
  nav ul li a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px; }
    @media screen and (max-width: 1200px) {
      nav ul li a {
        padding: 0 8px; } }
  nav ul li a.btn {
    margin-right: 0; }
  nav ul li a.logout:hover {
    background-color: transparent; }
  nav .dropdown-content li:hover {
    background-color: transparent; }

.side-nav .logo {
  height: 128px; }
  .side-nav .logo a {
    padding: 16px 16px 0px 16px;
    width: 100%; }
    .side-nav .logo a:hover {
      background-color: #fff; }
  .side-nav .logo img {
    width: 100%; }

.side-nav li a {
  font-size: 18px; }
  .side-nav li a i {
    height: 48px;
    line-height: 48px;
    float: left;
    margin-right: 8px; }

.scroll-to-top {
  position: fixed;
  bottom: 0;
  margin-left: 8px;
  width: 75px;
  z-index: 2; }
  .scroll-to-top i {
    color: #fff;
    font-size: 48px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    width: 48px;
    transform: rotate(90deg); }

.scroll-to-top.slide-out {
  transform: translateY(200%);
  transition: transform 500ms ease-in-out; }

.scroll-to-top.slide-in {
  transform: translateY(0);
  transition: transform 500ms ease-in-out; }

.preloader-wrapper.big {
  margin: 50px auto;
  display: block; }

.flow-text {
  color: rgba(0, 0, 0, 0.76); }

.hero-section {
  background-image: url("../img/hotel-exterior.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: calc(90vh - 64px); }
  @media screen and (max-width: 1200px) {
    .hero-section {
      background-image: url("../img/hotel-exterior-1200w.jpg"); } }
  @media screen and (max-width: 600px) {
    .hero-section {
      background-image: url("../img/hotel-exterior-600w.jpg"); } }
  @media screen and (max-width: 500px) {
    .hero-section {
      background-image: url("../img/hotel-exterior-550w.jpg"); } }
  .hero-section .hero-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */
    height: 39%; }
  .hero-section h1 {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 50px 0; }
    @media screen and (max-width: 600px) {
      .hero-section h1 {
        font-size: 28px;
        position: absolute;
        top: calc(50vh - 30px);
        width: 100%; } }
  .hero-section .hero-banner {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 50px 0; }
    @media screen and (max-width: 600px) {
      .hero-section .hero-banner {
        position: absolute;
        top: calc(50vh - 30px);
        width: 100%; } }
    .hero-section .hero-banner h1 {
      background-color: transparent;
      padding: 0;
      margin-top: 13px; }
      @media screen and (max-width: 600px) {
        .hero-section .hero-banner h1 {
          font-size: 28px;
          position: initial; } }
    @media screen and (max-width: 600px) {
      .hero-section .hero-banner h4 {
        font-size: 22px;
        position: initial; } }

.section {
  padding: 50px 0 0 0; }
  .section .col.valign {
    padding: 0 50px; }
  .section .btn {
    background-color: #21412a;
    color: #fff; }
    .section .btn:hover {
      background-color: #264b31;
      color: #fff; }

.section.banner {
  min-height: 200px;
  padding: 25px 0; }
  .section.banner .btn {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    font-size: 18px; }
    .section.banner .btn:hover {
      background-color: #fff;
      color: #1f2a44; }

#home .hero-section {
  background-position: center;
  height: 87vh; }

#hotel .hero-section {
  background-image: url("../img/hotel-ent.jpg");
  background-position: center; }
  @media screen and (max-width: 1200px) {
    #hotel .hero-section {
      background-image: url("../img/hotel-ent-1200w.jpg"); } }
  @media screen and (max-width: 600px) {
    #hotel .hero-section {
      background-image: url("../img/hotel-ent-600w.jpg"); } }
  @media screen and (max-width: 500px) {
    #hotel .hero-section {
      background-image: url("../img/hotel-ent-550w.jpg"); } }

#hotel h5:not(footer h5) {
  font-weight: 300;
  padding: 15px 0 50px 0; }

ul li {
  font-size: 16px; }

#about #directions {
  padding: 0;
  margin-bottom: -38px;
  z-index: 0; }
  #about #directions .row {
    margin: 0; }
    #about #directions .row .col {
      padding: 0; }
    #about #directions .row .directions-text-col {
      padding: 50px; }
  #about #directions i {
    font-size: 39px;
    vertical-align: text-top;
    width: 39px;
    height: 39px; }

#about #custom-map {
  height: 50vh;
  width: 100%; }
  @media screen and (max-height: 550px) {
    #about #custom-map {
      height: 85vh;
      pointer-events: none; } }
  @media screen and (max-width: 740px) {
    #about #custom-map {
      pointer-events: none; } }

#about .gm-style-iw * {
  display: block;
  width: 100%; }

#about .gm-style-iw h4, #about .gm-style-iw p {
  margin: 0;
  padding: 0; }

#about .gm-style-iw a {
  color: #4272db; }

#about .marker-name {
  font-size: 20px; }

#about .gm-style-iw {
  width: 300px;
  max-width: 210px; }
  #about .gm-style-iw span {
    font-weight: 400; }
  #about .gm-style-iw .marker-name {
    font-weight: 300; }

#about iframe {
  min-height: 50vh; }

#local iframe {
  margin: 0 auto;
  display: block; }

.sub-menu {
  text-align: center;
  padding: 0;
  min-height: 0;
  height: auto;
  width: 100%;
  background-color: rgba(33, 65, 42, 0.68); }
  .sub-menu ul {
    display: inline-block;
    padding: 0 !important; }
    .sub-menu ul li {
      font-size: 18px;
      float: left;
      padding: 8px;
      list-style-type: none !important;
      margin: 0 !important; }

.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block;
  color: #fff; }

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid #998643; }

.table-of-contents a:hover {
  color: #fff;
  font-weight: 400;
  padding-left: 19px;
  border-left: 1px solid #998643; }

.card .card-content .card-title {
  line-height: 30px;
  margin-bottom: 15px; }

.card .card-content .post-date {
  display: block;
  font-size: 18px; }

.card .card-content .content img.responsive-img {
  width: 100%;
  margin: 16px 0; }

.card .card-content p a {
  font-weight: 500; }

.card .card-content ul {
  padding-left: 25px; }
  .card .card-content ul li {
    list-style-type: disc; }

.card .card-action .tag-link {
  margin-right: 4px !important;
  margin-top: 8px; }
  .card .card-action .tag-link .tag-name {
    color: rgba(0, 0, 0, 0.6); }

.card .card-image {
  cursor: pointer; }

.card.horizontal {
  display: flex; }
  .card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible; }
    .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
      height: 100%; }
  .card.horizontal .card-image {
    max-width: 50%; }
    .card.horizontal .card-image img {
      max-width: 100%;
      width: auto; }
  .card.horizontal .card-stacked {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative; }
    .card.horizontal .card-stacked .card-content {
      flex-grow: 1; }

@media screen and (max-width: 992px) {
  .material-tooltip {
    visibility: hidden; } }

.modal.bottom-sheet {
  max-height: 80%; }

.preloader-wrapper.big .spinner-blue {
  border-color: #1f2a44; }

.preloader-wrapper.big .spinner-yellow {
  border-color: #8e9fbc; }

.preloader-wrapper.big .spinner-red {
  border-color: #21412a; }

.preloader-wrapper.big .spinner-green {
  border-color: #ffc658; }

footer.page-footer {
  margin-top: 50px;
  padding-top: 0px;
  background-color: #21412a;
  z-index: 1; }
  footer.page-footer .container .col {
    margin-top: 16px;
    padding: 0 24px; }
    @media screen and (max-width: 600px) {
      footer.page-footer .container .col {
        text-align: center; } }

#about footer.page-footer {
  margin-top: 0px; }

.social a {
  padding-right: 8px; }
  .social a i {
    font-size: 24px; }

.input-field {
  max-width: 300px; }

footer.page-footer .row {
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }

footer {
  border-top: 5px solid #998643;
  margin-top: 0px;
  padding-top: 0px; }
  footer .row {
    margin-bottom: 0px;
    margin-top: 10px; }

.footer-copyright {
  background-color: #1e3a26 !important; }
  .footer-copyright a {
    margin-right: 10px; }

.blue-footer {
  background-color: #1f2a44 !important; }
  .blue-footer .footer-copyright {
    background-color: #1c263d !important; }

.ios .hero-section {
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover; }

@media screen and (max-width: 500px) {
  .hero-section {
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover; } }
