.fus-yellow {
  background-color: #ffc658; }

.fus-light-blue {
  background-color: #8e9fbc; }

.fus-dark-blue {
  background-color: #1f2a44; }

.fus-green {
  background-color: #21412a; }

.fus-gold {
  background-color: #998643; }

.block-center {
  display: block;
  margin: 0 auto; }

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  flex: 1 0 auto;
  min-height: 100vh; }

header {
  height: 122px;
  margin-bottom: -48px; }

nav {
  height: 64px;
  box-shadow: none; }
  nav .button-collapse i {
    color: rgba(0, 0, 0, 0.87); }
  nav .brand-logo img {
    height: 64px;
    margin: 16px; }
  nav .page-title {
    line-height: 64px;
    font-size: 40px;
    font-weight: 300;
    margin-left: 25px; }
  nav .button-collapse {
    margin-left: 16px; }
  nav .grid-btn, nav .list-btn {
    cursor: pointer;
    margin-right: 8px; }
    @media screen and (max-width: 600px) {
      nav .grid-btn, nav .list-btn {
        display: none !important; } }
  nav .more-btn {
    cursor: pointer;
    margin-right: 8px; }
  nav ul li a {
    color: rgba(0, 0, 0, 0.87); }
  nav ul li a.logout:hover {
    background-color: transparent; }
  nav .dropdown-content li:hover {
    background-color: transparent; }

.side-nav .logo {
  height: 110px; }
  .side-nav .logo a {
    padding: 10px 10px 0px 10px;
    width: 100%; }
    .side-nav .logo a:hover {
      background-color: #fff; }
  .side-nav .logo img {
    width: 100%; }

.side-nav li {
  line-height: 48px; }
  .side-nav li a {
    height: 48px;
    line-height: 48px; }
    .side-nav li a i {
      height: 48px;
      line-height: 48px;
      float: left;
      margin-right: 8px; }

.scroll-to-top {
  position: fixed;
  bottom: 0;
  margin-left: 8px;
  width: 75px; }
  .scroll-to-top i {
    color: #fff;
    font-size: 48px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    width: 48px;
    transform: rotate(90deg); }

.scroll-to-top.slide-out {
  transform: translateY(200%);
  transition: transform 500ms ease-in-out; }

.scroll-to-top.slide-in {
  transform: translateY(0);
  transition: transform 500ms ease-in-out; }

.preloader-wrapper.big {
  margin: 50px auto;
  display: block; }

.flow-text {
  color: rgba(0, 0, 0, 0.5); }

.hero-section {
  background-image: url("../img/town-square.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: calc(90vh - 64px); }
  .hero-section .hero-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */
    height: 39%; }
  .hero-section h1 {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 50px 0; }

.section {
  min-height: 50vh;
  padding: 50px 0; }
  .section .col.valign {
    padding: 0 50px; }
  .section .btn {
    background-color: #fff;
    color: #000;
    border: solid 1px #000; }
    .section .btn:hover {
      background-color: #000;
      color: #fff; }

.section.banner {
  min-height: 200px;
  padding: 25px 0; }
  .section.banner .btn {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    font-size: 18px; }
    .section.banner .btn:hover {
      background-color: #fff;
      color: #1f2a44; }

#hotel .hero-section {
  height: calc(60vh - 64px); }

#hotel h5 {
  font-weight: 300;
  padding: 15px 0 50px 0; }

#hotel .container {
  max-width: 2000px; }
  @media only screen and (min-width: 993px) {
    #hotel .container {
      width: 85%; } }

#hotel ul li {
  font-size: 16px; }

#about #directions {
  padding: 0;
  margin-bottom: -38px;
  z-index: 0; }
  #about #directions .row {
    margin: 0; }
    #about #directions .row .col {
      padding: 0; }
    #about #directions .row .directions-text-col {
      padding: 50px; }
  #about #directions i {
    font-size: 39px;
    vertical-align: text-top;
    width: 39px;
    height: 39px; }

#about #custom-map {
  height: 50vh;
  width: 100%; }
  @media screen and (max-height: 550px) {
    #about #custom-map {
      height: 85vh;
      pointer-events: none; } }
  @media screen and (max-width: 740px) {
    #about #custom-map {
      pointer-events: none; } }

#about .gm-style-iw * {
  display: block;
  width: 100%; }

#about .gm-style-iw h4, #about .gm-style-iw p {
  margin: 0;
  padding: 0; }

#about .gm-style-iw a {
  color: #4272db; }

#about .marker-name {
  font-size: 20px; }

#about .gm-style-iw {
  width: 300px;
  max-width: 210px; }
  #about .gm-style-iw span {
    font-weight: 400; }
  #about .gm-style-iw .marker-name {
    font-weight: 300; }

#about iframe {
  min-height: 50vh; }

.card .card-content .card-title {
  line-height: 30px;
  margin-bottom: 15px; }

.card .card-content .post-date {
  display: block;
  font-size: 18px; }

.card .card-content .content img.responsive-img {
  width: 100%;
  margin: 16px 0; }

.card .card-content p a {
  font-weight: 500; }

.card .card-content ul {
  padding-left: 25px; }
  .card .card-content ul li {
    list-style-type: disc; }

.card .card-action .tag-link {
  margin-right: 4px !important;
  margin-top: 8px; }
  .card .card-action .tag-link .tag-name {
    color: rgba(0, 0, 0, 0.6); }

.card .card-image {
  cursor: pointer; }

.card.horizontal {
  display: flex; }
  .card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible; }
    .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
      height: 100%; }
  .card.horizontal .card-image {
    max-width: 50%; }
    .card.horizontal .card-image img {
      max-width: 100%;
      width: auto; }
  .card.horizontal .card-stacked {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative; }
    .card.horizontal .card-stacked .card-content {
      flex-grow: 1; }

@media screen and (max-width: 992px) {
  .material-tooltip {
    visibility: hidden; } }

.modal.bottom-sheet {
  max-height: 80%; }

.preloader-wrapper.big .spinner-blue {
  border-color: #1f2a44; }

.preloader-wrapper.big .spinner-yellow {
  border-color: #8e9fbc; }

.preloader-wrapper.big .spinner-red {
  border-color: #21412a; }

.preloader-wrapper.big .spinner-green {
  border-color: #ffc658; }

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #000;
  z-index: 1; }

footer.page-footer .row {
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }

footer {
  margin-top: 0px;
  padding-top: 0px; }
  footer .row {
    margin-bottom: 0px;
    margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }
