// Colors
$fus-yellow: #ffc658;
$fus-light-blue: #8e9fbc;
$fus-dark-blue: #1f2a44;
$fus-green: #21412a;
$fus-gold: #998643;

.fus-yellow {
  background-color: $fus-yellow;
}
.fus-light-blue {
  background-color: $fus-light-blue;
}
.fus-dark-blue {
  background-color: $fus-dark-blue;
}
.fus-green {
  background-color: $fus-green;
}
.fus-gold {
  background-color: $fus-gold;
}

// Helper Classes
.center-logo {
  margin-top: -53px;


  img {
    width: 280px;
    display: block;
    margin: 0 auto;
    z-index: 2;
  }
}

.nav-cta {
  background-color: $fus-dark-blue;

  &:hover {
    background-color: lighten($fus-dark-blue, 10%);
  }
}

.block-center {
  display: block;
  margin: 0 auto;
}

.list-styled {
  padding: 16px;

  li {
    list-style-type: square;
    margin-bottom: 8px;
  }
}

.li-divider {
  border-top: 1px solid;
  width: 28px;
  margin: 0 auto;
  height: 16px;
}

.valign-wrapper {
  @media screen and (max-width: 600px) {
    flex-direction: column;

    .col {
      margin-bottom: 16px;
    }
  }
}

.valign-wrapper.banner {
  @media screen and (max-width: 600px) {
    flex-direction: row;
  }
}

.container {
  max-width: 2000px;

  @media only screen and (min-width: 993px) {
    width: 85%;
  }
}

.order-1 {
  @media screen and (max-width: 600px) {
    order: 1;
  }
}

.order-2 {
  @media screen and (max-width: 600px) {
    order: 2;
  }
}

.input-field {
  label {
    left: 0;
  }
}

body {
  background-color: #fff;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 main {
   flex: 1 0 auto;
   min-height: 100vh;
 }

header {
  height: 122px;
  margin-bottom: -48px;
}

nav {
  height: 64px;
  box-shadow: none;

  .brand-logo {
    img {
      height: 64px;
      margin: 16px;
    }
  }

  .button-collapse i {
    color: rgba(0,0,0,0.87);
  }

  .page-title {
    line-height: 64px;
    font-size: 40px;
    font-weight: 300;
    margin-left: 25px;
  }

  .button-collapse {
    margin-left: 16px;
  }

  .grid-btn, .list-btn {
    cursor: pointer;
    margin-right: 8px;

    @media screen and (max-width: 600px) {
      display: none!important;
    }
  }

  .more-btn {
    cursor: pointer;
    margin-right: 8px;
  }

  ul li a {
    color: rgba(0,0,0,0.87);
  }

  ul li a.logout:hover {
    background-color: transparent;
  }

  .dropdown-content li:hover {
    background-color: transparent;
  }
}

.side-nav {
  .logo {
    height: 128px;

    a {
      padding: 16px 16px 0px 16px;
      width: 100%;

      &:hover {
        background-color: #fff;
      }
    }

    img {
      width: 100%;
    }
  }

  li {
    line-height: 48px;

    a {
      height: 48px;
      line-height: 48px;

      i {
        height: 48px;
        line-height: 48px;
        float: left;
        margin-right: 8px;
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  margin-left: 8px;
  width: 75px;
  z-index: 2;

  i {
    color: #fff;
    font-size: 48px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    width: 48px;
    transform: rotate(90deg);
  }
}

.scroll-to-top.slide-out {
  transform: translateY(200%);
  transition: transform 500ms ease-in-out;
}

.scroll-to-top.slide-in {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;

}


.preloader-wrapper.big {
  margin: 50px auto;
  display: block;
}

.flow-text {
  color: rgba(0, 0, 0, 0.5);
}

.hero-section {
  background-image: url("../img/hotel-exterior.jpg");
  background-size: cover;
  background-attachment: fixed;
  height:calc(90vh - 64px);

  .hero-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    height: 39%;
  }


  h1 {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 50px 0;

    @media screen and (max-width: 600px) {
      font-size: 28px;
      position: absolute;
      top: calc(50vh - 30px);
      width: 100%;
    }
  }
}

.section {
  min-height: 50vh;
  padding: 50px 0;

  .col.valign {
    padding: 0 50px;
  }

  .btn {
    background-color: $fus-green;
    color: #fff;

    &:hover {
      background-color: lighten($fus-green, 3%);
      color: #fff;
    }
  }
}

.section.banner {
  min-height: 200px;
  padding: 25px 0;

  .btn {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    font-size: 18px;

    &:hover {
      background-color: #fff;
      color: $fus-dark-blue;
    }
  }
}

#home {
  .hero-section {
    background-position: center;
    height: 87vh;
  }
}

// Hotel Page Styles
#hotel {
  .hero-section {
    background-image: url("../img/hotel-ent.jpg");
  }

  h5:not(footer h5) {
    font-weight: 300;
    padding: 15px 0 50px 0;
  }
}

  ul li {
    font-size: 16px;
  }


// About Styles
#about {

  #directions {
    padding: 0;
    margin-bottom: -38px;
    z-index: 0;

    .row {
      margin: 0;

      .col {
        padding: 0;
      }

      .directions-text-col {
        padding: 50px;
      }
    }

    i {
      font-size: 39px;
      vertical-align: text-top;
      width: 39px;
      height: 39px;
    }
  }

  // Map Styles
  #custom-map {
    height: 50vh;
    width: 100%;


    @media screen and (max-height: 550px) {
      height: 85vh;
      pointer-events: none;
    }

    @media screen and (max-width: 740px) {
      pointer-events: none;
    }
  }

  .gm-style-iw * {
    display: block;
    width: 100%;
  }

  .gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
  }

  .gm-style-iw a {
    color: #4272db;
  }

  .marker-name {
    font-size: 20px;
  }

  .gm-style-iw {
    width: 300px;
    //min-height: 150px;
    max-width: 210px;

    span {
      font-weight: 400;
    }

    .marker-name {
      font-weight: 300;
    }
  }

  iframe {
    min-height: 50vh;
  }
}

//Local
#local {
  iframe {
    margin: 0 auto;
    display: block;
  }
}


//Sub menu
.sub-menu {
  text-align: center;
  padding: 0;
  min-height: 0;
  height: auto;
  width: 100%;
  background-color: rgba(33, 65, 42, 0.68);;

  ul {
    display: inline-block;
    padding: 0 !important;

    li {
      font-size: 18px;
      float: left;
      padding: 8px;
      list-style-type: none !important;
      margin: 0 !important;
    }
  }
}

//scrollSpy
.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block;
  color: #fff;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid $fus-gold;
}

.table-of-contents a:hover {
  color: #fff;
  font-weight: 400;
  padding-left: 19px;
  border-left: 1px solid $fus-gold;
}

.card {
  .card-content {
    .card-title {
    line-height: 30px;
    margin-bottom: 15px;
    }


    .post-date {
      display: block;
      font-size: 18px;
    }
    // .content {
    //   max-height:200px;
    //   overflow: hidden;
    // }

    .content {
      img.responsive-img {
        width: 100%;
        margin: 16px 0;
      }
    }
    p {
      a {
        font-weight: 500;
      }
    }

    ul {
      padding-left: 25px;
      li {
        list-style-type: disc;
      }
    }
  }

  .card-action {
    .tag-link {
      margin-right: 4px !important;
      margin-top: 8px;

      .tag-name {
        color: rgba(0,0,0,0.6);
      }
    }
  }

  .card-image {
    cursor: pointer;
  }

  // Horizontal Cards
&.horizontal {
  &.small, &.medium, &.large {
    .card-image {
      height: 100%;
      max-height: none;
      overflow: visible;

      img {
        height: 100%;
      }
    }
  }

  display: flex;

  .card-image {
    max-width: 50%;
    img {
      max-width: 100%;
      width: auto;
    }
  }

  .card-stacked {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .card-content {
      flex-grow: 1;
    }
  }
}
}

.material-tooltip {
  @media screen and (max-width: 992px) {
    visibility: hidden;
  }
}

.modal.bottom-sheet {
  max-height: 80%;
}

// Preloader
.preloader-wrapper.big {
  .spinner-blue {
    border-color: $fus-dark-blue;
  }


  .spinner-yellow {
    border-color: $fus-light-blue;
  }

  .spinner-red {
    border-color: $fus-green;
  }

  .spinner-green {
    border-color: $fus-yellow;
  }
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  background-color: $fus-green;
  z-index: 1;

  .container {
    .col {
      margin-top: 16px;
      padding: 0 24px;
    }
  }
 }

 .social {
   a {
     padding-right: 8px;
     i {
       font-size: 24px;
     }
   }
 }

 .input-field {
   max-width: 300px;
 }
  footer.page-footer .row {
    margin-bottom: 0px;
    margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }

footer {
  border-top: 5px solid $fus-gold;
  margin-top: 0px;
  padding-top: 0px;
  .row {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.footer-copyright {
  background-color: darken($fus-green, 2%) !important;
  a {
    margin-right: 10px;
  }
}

.blue-footer {
  background-color: $fus-dark-blue !important;

  .footer-copyright {
    background-color: darken($fus-dark-blue, 2%) !important;
  }
}


// iOS only styles
.ios {
  .hero-section {
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover;
  }
}
